/* Navigation Bar */
.navbar {
    height: 102px;
    backdrop-filter: blur(70px);
}

.navbar.fixed-top {
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu .list-menu {
    list-style: none;
}

.menu .list-menu a {
    color: #374E9D;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.btn-navbar {
    background-color: #FCCC00;
    border: none;
    border-radius: 120px;
    color: #000;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    height: 48px;
    width: 161px;
}


/* Navigation Bar End */

/* Section One */
.section-one .title {
    color: #161F3F;
    font-size: 72px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
}
/* Section One End */


/* Section Three */
.section-tiga {
    background-color: #161F3F;
    /* height: 1338px; */
    margin-bottom: 132px;
}       

.our-service-one .title {
    color: #848AA5;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    margin-top: 120px;
}

.our-service-one .sub-title {
    color: #FFF;
    font-size: 48px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 600;
    margin-top: 120px;
}

.our-service-two ul {
    margin-top: 132px;
    list-style: none;
}

.our-service-two .title {
    color: #FFF;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 700;
    margin-top: 36px;
}

.our-service-two .sub-title {
    color: #848AA5;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
}

.our-service-three ul{
    margin-top: 120px;
}

.our-service-three .title {
    color: #FFF;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 700;
    margin-top: 36px;
}

.our-service-three .sub-title {
    color: #848AA5;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    margin-bottom: 92px;
}

.section-tiga .side-left {
    position: absolute;
    margin-top: -550px;
}
/* Section Three End */

/* Section Four */
.section-empat .title {
    color: #848AA5;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
}

.section-empat .sub-title {
    color: #161F3F;
    font-size: 48px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 700;
}

.section-empat .card {
    border: none;
    position: relative;
    overflow: hidden;
}

.section-empat .card img {
    transition: transform 0.3s ease;
}

.section-empat .card img:hover {
    transform: scale(1.1);

}

.card-body .title {
    color: #10172F;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 700;
}

.card-body .sub-title {
    color: #848AA5;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
}

.btn-section-empat {
    width: 179px;
    height: 48px;
    border: 1px solid #555A71;
    border-radius: 120px;        
    margin-top: 72px;
}

.btn-section-empat a {
    text-decoration: none;
    color: #555A71;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
}

.title-has {
    color: #848AA5;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;    
}

.logos::before ,.logos::after {
    position: absolute;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFF);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFF);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
}
/* Section Four End */

/* Section Lima */
.section-lima {
    background-color: #161F3F;
    height: 851px;
    margin-bottom: 106px;
}

.section-lima .container .title {
    color: #848AA5;
    font-size: 24px;
    font-family: Pathway, Extreme, sans-serif;
    margin-top: 132px;
}

.section-lima .container .sub-title {
    color: #FFF;
    font-size: 52px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 600;
    margin-top: 125px;
}

.owl-carousel .card {
    width: 324px;
    height: 404px;
    border-radius: 20px;    

}

.owl-carousel .card .img-testimoni {    
    width: 72px;
    margin-top: 30px;
    margin-left: 20px;        
}

.owl-carousel .card .bg-testimoni {
    width: 155px;
}

.owl-carousel .card .name {
    color: #10172F;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    padding-left: 20px;
    position: absolute;
    padding-top: 120px;
}

.owl-carousel .btn {
    position: absolute;
    padding-top: 165px;
    margin-left: -75px;
}

.owl-carousel .btn button {
    border: none;
    border-radius: 40px;
    width: 137px;
    height: 28px;
    background-color: #F8D27D;
    font-size: 12px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.owl-carousel .desk {
    text-align: center;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 75px;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 200;
    color: #848AA5;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.bg-section-lima {
    position: absolute;
    margin-top: -590px;
}

/* Section Lima End */

/* Section Enam */
.section-enam {
    background-image: url("/assets/image/bg-section6.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 536px;
    width: auto;
}

.section-enam .content {
    margin-top: 132px;
    margin-left: 81px;        
}

.section-enam .title {
    color: #848AA5;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: -32px;
}

.section-enam .sub-title {
    color: #FFF;
    font-size: 48px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: -24px;
}

.section-enam .ket {
    color: #FFF;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-top: 24px;
    
}

.section-enam button {
    border: none;
    border-radius: 120px;    
    width: 181px;
    height: 48px;    
    margin-top: 72px;  
    position: relative;
    overflow: hidden;
    
}

.section-enam button a {
    color: #555A71;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.section-enam button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    
    width: 100%;
    height: 100%;
    background-color: #FCCC00;
    transition: left 0.3s ease;
    z-index: 0;    
}

.section-enam button:hover::before {    
    left: 0;
}


.img-enam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-enam img {
    width: 100%;
}
/* Section Enam End */

/* Section Footer */
#footer {
    margin-top: 120px;
}

.footer-img img{
    height: 29px;
    margin-bottom: 52px;
}

.address {
    margin-left: -30px;
}

.address img {
    margin-bottom: 24px;
}

.address ul{
    list-style: none;
}

.address .title {
    color: #10172F;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
}

.address .title:hover {
    color: #afafaf;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.address .copyright {
    color: #848AA5;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
}

.navigation ul{
    list-style: none;
}


#navigation {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.navigation ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.navigation ul li a:hover {    
    color: #6072ae;
    text-decoration: underline 2px;    
}

#navigation:hover {
    text-decoration: none;
}

.product ul {
    list-style: none;    
}

#product {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.product ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.product ul li a:hover {
    color: #6072ae;
    text-decoration: underline 2px;      
}

#product:hover {
    text-decoration: none;
}

.medsos ul {
    list-style: none;    
}

#medsos {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.medsos ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.medsos ul li a:hover {
    color: #6072ae;
    text-decoration: underline 2px; 
}

#medsos:hover {
    text-decoration: none;
}

.support ul {
    list-style: none;    
}

#support {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.support ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.support ul li a:hover {
    color: #6072ae;
    text-decoration: underline 2px; 
}

#support:hover {
    text-decoration: none;
}


.bg-footer {
    float: right;
}
/* Section Footer End */


.navbar-mobile {
    display: none;
}

/* Responsive Mobile */

@media (max-width: 767px) {
    /* Navigation Bar */
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }
    
    /* Navigation Bar Selesai */

    /* Section One */
    .section-one .title {
        color: #161F3F;
        font-size: 30px;
        font-family: Pathway Extreme, sans-serif;
        font-weight: 700;
    }
    /* Section One End */

    /* Section Three */
    .our-service-one .title {
        text-align: center;
        font-size: 20px;
        font-family: 500;
        margin-top: 92px;
    }
    
    .our-service-one .sub-title {
        text-align: center;
        font-size: 32px;                
        margin-top: 48px;
    }

    .our-service-two .col-md-3 {
        display: none;
    }

    .our-service-two li  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
    }

    .our-service-two li img {
        width: 186px;
    }

    .our-service-two .title {
        text-align: center;        
        font-size: 20px;
    }

    .our-service-two .sub-title {
        text-align: center;
        font-size: 14px;
    }

    .our-service-three li  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -50px;
    }  

    .our-service-three li img {
        width: 186px;
    }  

    .our-service-three .title {
        text-align: center;        
        font-size: 20px;
    }

    .our-service-three .sub-title {
        text-align: center;
        font-size: 14px;
    }        
    /* Section Three End */

    /* Section Four */
    .section-empat .title {
        font-size: 20px;
        text-align: center;
    }

    .section-empat .sub-title {
        font-size: 32px;
        text-align: center;
    }

    .section-empat .card .title {
        font-size: 20px;
    }
    
    .section-empat .card .sub-title {
        font-size: 16px;
    }
    /* Section Four End */
}



/* Responsive Mobile End */