/* Navigation Bar */
.navbar {
    height: 102px;
    backdrop-filter: blur(70px);
}

.navbar.fixed-top {
    z-index: 1000;
}

.menu {
    display: flex;
    gap: 35px;
}

.menu .list-menu {
    list-style: none;
}

.menu .list-menu a {
    color: #374E9D;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.btn-navbar {
    background-color: #FCCC00;
    border: none;
    border-radius: 120px;
    color: #000;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    height: 48px;
    width: 161px;
}


/* Navigation Bar End */

/* Section Enam */
.section-enam {
    background-image: url('assets/image/bg-section6.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 536px;
    width: auto;
}

.section-enam .content {
    margin-top: 132px;
    margin-left: 81px;        
}

.section-enam .title {
    color: #848AA5;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: -32px;
}

.section-enam .sub-title {
    color: #FFF;
    font-size: 48px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: -24px;
}

.section-enam .ket {
    color: #FFF;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-top: 24px;
    
}

.section-enam button {
    border: none;
    border-radius: 120px;
    color: #555A71;
    width: 181px;
    height: 48px;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    margin-top: 72px;
    
}

.img-enam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-enam img {
    width: 100%;
}
/* Section Enam End */

/* Section Footer */

#footer {
    margin-top: 120px;
}

.footer-img img{
    height: 29px;
    margin-bottom: 52px;
}

.address {
    margin-left: -30px;
}

.address img {
    margin-bottom: 24px;
}

.address ul{
    list-style: none;
}

.address .title {
    color: #10172F;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
}

.address .copyright {
    color: #848AA5;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.navigation ul{
    list-style: none;
}


#navigation {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.navigation ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.product ul {
    list-style: none;    
}

#product {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.product ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.medsos ul {
    list-style: none;    
}

#medsos {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.medsos ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

.support ul {
    list-style: none;    
}

#support {
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    color: #10172F;
    margin-bottom: 32px;
}

.support ul li a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
}

/* Section Footer End */