@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lily+Script+One&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
/* Pagination */
#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Pagination End */


/* Navigation Bar */

    /* Navbar Desktop */
.logo {
    display: flex;
    /* gap: 15px;
    margin-left: 80px; */
}

.btn-contact {
    background-color: #FCCC00;
    border: none;
    border-radius: 50px;
    width: 161px;
    height: 48px;
}

.navbar {
    height: 102px;
    backdrop-filter: blur(70px);
}

.navbar.fixed-top {
    z-index: 1000;
}
.menu {
    display: flex;
    gap: 20px;
}
.menu .list-menu {
    list-style: none;
}
.menu .list-menu a {
    color: #374E9D;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.btn-navbar {
    background-color: #FCCC00;
    border: none;
    border-radius: 120px;
    color: #000;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    height: 48px;
    width: 161px;
}
    /* Navbar Desktop End */

    /* Navbar Mobile */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
    z-index: 100;
    height: 102px;
    backdrop-filter: blur(70px);
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    padding-top: 10px;
    padding-right: 30px;
    text-decoration: none;
    color: #374E9D;
    font-size: 15px;
    font-weight: 500;
    font-family: Pathway Extreme, sans-serif;
    transition: 0.3s;
    border-bottom: 2px solid transparent;    
}

nav a:hover {
    border-bottom: 2px solid #384E9D;
}

nav a.active,
nav a:focus {
    border-bottom: 2px solid #384E9D;    
    color: #FCCC00;
}

nav a:target {
    border-bottom: 2px solid #384E9D;
}

input {
    display: none;
}

.image .card {
    border: none;    
}

/* Section Blog */
.pagination .page-item {
    width: 50px;        
}

#pagination-prev {
    margin-right: 65px;  
    margin-top: 5px;  
}

#pagination-next {
    margin-left: 20px;
    margin-top: 5px;
}

.pagination .page-item .page-link {
    border: none;
    width: 42px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    font-family: Pathway Extreme, sans-serif;       
}

.card-blog .card {
    border: none;            
}

.card-blog .card .title {
    color: #10172F;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
}

.card-blog .card .deskripsi {
    color: #0F172A;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 200;
}

.card-blog .card a button {
    border: 1px solid #374E9D;
    width: 167px;
    height: 48px;
    color: #374E9D;
}

.sideleft-section1 {
    float: left;
    position: absolute;
    margin-top: -2000px;
}

.sideright-section1 {
    float: right;
    right: 0;
    position: absolute;
    margin-top: -1500px;
}

.share {        
    font-size: 20px;  
    text-align: start;  
    font-family: Pathway Extreme, sans-serif;    
}

.share span img {
    margin: 5px;
}
/* Section Blog End */

/* Section Seven */
.section-enam {
    background-image: url("/assets/image/bg-section6.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 630px;
    width: auto;
}

.section-enam .content {
    margin-top: 200px;
    margin-left: 47.57px;        
}

.section-enam .title {
    color: #848AA5;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: -32px;
}

.section-enam .sub-title {
    color: #000;
    font-size: 42px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 600;    
    margin-top: 32px;
    margin-bottom: -24px;    
}

.section-enam .ket {
    color: #2D2926;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-top: 24px;
    
}

.section-enam button {
    border: none;
    border-radius: 120px;    
    width: 181px;
    height: 48px;    
    margin-top: 72px;  
    position: relative;
    overflow: hidden;
    background-color: #FCCC00;        
}

.section-enam button a {
    color: #555A71;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    z-index: 1;    
    
}

.section-enam button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;    
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: left 0.3s ease;
    z-index: 0;    
    color: #FFF;
}

.section-enam button:hover::before {    
    left: 0;    
}


.img-enam {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 165px 0px 0px 0px;    
}

.img-enam img {
    width: 100%;
    margin-right: 190px;
}

.section-enam-mobile .row {
    display: none;
}
/* Section Seven End */


/* Section Footer */
.footer-img img{
    height: 29px;
    margin-bottom: 52px;
}

.address img {
    margin-bottom: 24px;
}

.address ul{
    list-style: none;
}

.address .title {
    color: #10172F;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
}

.address .title:hover {
    color: #afafaf;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.address .copyright {
    color: #848AA5;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;    
}

.menus-footer .title {
    color: #10172F;
    font-size: 24px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 400;
    margin-bottom: 42px;
}

.menus-footer .sub-title a {
    text-decoration: none;
    color: #374E9D;
    font-size: 16px;
    font-family: Pathway Extreme, sans-serif;
    font-weight: 500;         
}

.menus-footer p {
    line-height: 10px;
}

.menus-footer .sub-title a:hover {
    text-decoration: underline 1.8px solid #374E9D;    
}
/* Section Footer End */


@media (max-width: 767px) {
    /* Navigation Bar */
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }    

    .logo {
        margin-left: 0px;
    }

    nav button {
        margin-right: 0px;
    }

    nav {
        position: absolute;
        top: 100px;
        background: white;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
    }

    nav a {
        padding-top: 0px;
        padding-right: 0px;
        text-decoration: none;
        color: #374E9D;
        font-size: 15px;
        font-weight: 500;
        font-family: Pathway Extreme, sans-serif;
        transition: 0.3s;    
    }

    nav a:nth-child(1) {
        margin-top: 50px;
    }

    label {
        width: 45px;
        height: 30px;
        position: relative;
    }
    label div {
        width: 100%;
        height: 5px;
        background: #312ECB;
        position: absolute;
        transform: translateY(-50%);
        border-radius: 99px;
        transition: 0.3s;
        transform: scale(1);
    }
    label div:nth-child(1) {
        top: 0;
    }
    label div:nth-child(2) {
        top: 30%;
    }
    label div:nth-child(3) {
        top: 60%;
    }

    input:checked + header nav {
        height: 100vh;
    }
    input:checked + header label div:nth-child(1) {
        transform: rotate(45deg);
        top: 30%;
    }
    input:checked + header label div:nth-child(3) {
        transform: rotate(-45deg);
        top: 30%;
    }
    input:checked + header label div:nth-child(2) {
        transform: scale(0);
        opacity: 0;
    }

    .bg-navbar {
        background-color: #FCCC00;
        width: 48px;
        height: 48px;
        border-radius: 50px;
    }

    .bg-menu {
        margin: 15px 0px 0px 10px;
    }

    .bg-menu div{
        height: 1px;
        width: 30px;
        top: 0px;
    }
    /* Navigation Bar Selesai */

    .sideright-section1, .sideleft-section1 {
        display: none;
    }

    /* Section Seven End */
    .section-enam {
        display: none;
    }

    .section-enam-mobile .row {
        display: block;
    }
    
    .section-enam-mobile {    
            background-image: url("/assets/image/bg-mobile-section6.svg");
            background-size: contain;
            background-repeat: no-repeat;
            /* width: 100%; */
            height: 838px;
            display: flex;                    
    }
    
    .section-enam-mobile .title {
        color: #848AA5;
        font-size: 20px;
        font-family: Pathway Extreme, sans-serif;
        font-weight: 400;
        margin-top: 104px;
    }

    .section-enam-mobile .sub-title {
        color: #FFF;
        font-size: 32px;
        font-family: Pathway Extreme, sans-serif;
        font-weight: 600;
        margin-top: 32px;
    }
    
    .section-enam-mobile .ket {
        color: #FFF;
        font-size: 16px;
        font-family: Pathway Extreme, sans-serif;
        font-weight: 400;
        padding-top: -10px;                
    }

    .section-enam-mobile button {
        border: none;
        border-radius: 120px;    
        width: 181px;
        height: 48px;    
        margin-top: 72px;  
        position: relative;
        overflow: hidden;
        
    }
    
    .section-enam-mobile button a {
        color: #555A71;
        font-size: 16px;
        font-family: Pathway Extreme, sans-serif;
        font-weight: 500;
        text-decoration: none;
        position: relative;
        z-index: 1;
        text-align: center;
        padding-top: 11px;
    }
    
    .section-enam-mobile button::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        
        width: 100%;
        height: 100%;
        background-color: #FCCC00;
        transition: left 0.3s ease;
        z-index: 0;    
    }
    
    .section-enam-mobile button:hover::before {    
        left: 0;
    }    
    /* Section Six End */

    /* Footer */
    .copyright {
        display: none;
    }

    .img-footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer ,.row {
        text-align: center;
        justify-content: center;
        align-items: center;        
    }

    .menus-footer .title {        
        padding-top: 60px;        
    } 

    .menus-footer .footer-up {
        margin-top: -25px;
    }

    #footer #footer-up {
        margin-top: -50px;
    }
    /* Footer End */
}